.countdown {
    height: 10rem;
    .counter {
        .mat-h1 {
            font-size: 2rem;
            text-align: center;
        }
    }
    .ticket {
       .mat-h1 {
           font-size: 2rem;
       }
    }
}
