
section {
    //height: 50rem;
    header {
        height: auto;
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        //margin-bottom: 3rem;
        .head {
            font-weight: bold;
            font-size: 1.1rem;
            padding-top: 1rem;
        }
        .body {
            font-family: monospace;
            margin-top: 12px;
        }
    }
    mat-card {
        margin: 1rem 0;
        form {
            width: 40rem;
            padding: 3rem;
            mat-form-fiel {
                width: 100%;
            }
        }
    }
}
