<div class="container">
    <div class="col">
        <h1>TINOTUNE TERSM & SERVICES</h1>

        <p>
            Tinotune (the “Company”) is committed to protecting the privacy of its users. This Privacy Policy (“Privacy Policy”) is designed to help you understand what information we gather, how we use it, what we do to protect it, and to assist you in making informed decisions when using our website. Unless otherwise indicated below, this Privacy Policy applies to any website that references this Privacy Policy, any Company website, as well as any data the Company may collect across partnered and unaffiliated sites.
        </p>
    
        <p>For purposes of this Agreement, the terms “we,” “us,” and “our” refer to the Company. 
            “You” refers to you, as a user of the website. 
        </p>
    
        <h2>THE PERSONAL DATA WE COLLECT FROM YOU</h2>

        <p>
            We collect various information to enable us provide good Service to all our users. Depending on how our Service will be used, the different types of Personal Data we collect are as follows:
        </p>

        <ol>
            <li>
                All users: We will collect passive information from all users. These information include cookies, IP address information, location information and certain browser information.
            </li>

            <li>
                Sales and billing information: We may collect Your credit and/or debit card information, which includes Your card number, password, etc, Your billing address, Your contact address and other information required for Your purchases. The billing information will be stored for the following period: fourteen days to assist You in making future purchases.
            </li>
        </ol>

        <h2>THE PERSONAL DATA WE COLLECT AS YOU USE OUR SERVICE</h2>

        <p>
            We use the following to collect Personal Data from You:
        </p>

        <p>
            Cookies: We use the data collected by the cookies to offer You the best experience on our Website. Cookies are information stored on Your browser when You visit our Website or use a social network with Your PC, Smartphone or Tablets. They contain various data which includes the name of the server from which it comes, the numeric identifier, etc. The types of cookies we use are as follows:
        </p>

        <p>
            (I) Technical cookies: These cookies are essential for the correct functioning of our Website and they are required to provide the Service required to our users.
        </p>

        <p>
            (II) Profiling cookies: These cookies are used to create user profiles based on personal choices and preferences in order to send advertising messages to Your device.
        </p>

        <p>
            (III) Third party cookies: While using our Service, You may receive cookies from applications managed by other organizations. Third party analytical cookies may also be installed. Third party analytical cookies are used to detect information on user behaviour on our Website. This is placed in order to monitor the performance and improve the usability of this Website.
        </p>

        <p>
            (IV) Support in configuring your browser: You can manage these cookies through the settings of Your browser on Your device. However, deleting cookies from Your browser may remove the preferences You have set for this Application.
        </p>

        <p>
            Log Data: We also use log files which store automatic information collected when users visit this Website. The log data which may be collected are as follows:
        </p>

        <p>
            (I) the domain and host from which You access the Website;
        </p>

        <p>
            (II) name of the Internet Service Provider (ISP);
        </p>

        <p>
            (III) date and time of visit;
        </p>

        <p>
            (IV) Your computer operating system and browser software;
        </p>

        <p>
            (V) Your Internet Protocol (IP) address.
        </p>

        <h2>THIRD PARTIES</h2>

        <p>
            We share Your Personal Data with third parties in order to protect our rights, properties, and safety and for the safety of users of this Website.
        </p>

        <h2>PURPOSE OF PROCESSING PERSONAL DATA</h2>

        <p>
            We collect and use Your Personal Data for the following reasons:
        </p>

        <p>
            (I) to provide our Service and to maintain and make improvements to the Service we provide to You;
        </p>

        <p>
            (II) to develop new Services on the Website;
        </p>

        <p>
            (III) to provide personalized Service to You, including making recommendations and providing personalized content;
        </p>

        <p>
            (IV) to provide analytics to understand how our Service is used.
        </p>

        <h2>STORAGE OF PERSONAL DATA</h2>

        <p>
            We take the security of the Personal Data we collect very seriously, and we take reasonable measures to reduce the risk of accidental destruction, loss or unauthorized access to such information. However, please note that no system involving the transmission of information via electronic storage systems or the internet is completely secure.
        </p>

        <p>
            The Personal Data and any other information we have about You may be stored for such period as we may determine until You withdraw Your consent.
        </p>

        <h2>PROTECTION OF PERSONAL DATA</h2>

        <p>
            Our Service is built with strong security features that continuously protect Your Personal Data. Our security features help us detect and block security threats. If we detect any security risk, we may inform You and guide You through steps to stay protected.
        </p>

        <h2>DISCLOSURE OF PERSONAL DATA</h2>

        <p>We do not disclose Your Personal Data except for any of the following reasons:</p>

        <p>
            (I) if You have granted us the permission to do so: We will disclose Your Personal Data where we have received Your unequivocal consent and permission to do so. However, such consent may be withdrawn at any time;
        </p>

        <p>
            (II) if we are required to do so by an existing law or regulation: We may also disclose and share Your Personal Data for the following reasons:
        </p>

        <ul>
            <li>
                •	to meet any applicable law, regulation, legal process, or any legal request, such as subpoenas, court orders, requests for administrative or government bodies;
            </li>

            <li>
                •	to enforce our applicable Terms of Use;
            </li>

            <li>
                •	to detect, prevent, or address any fraud, security or technical issues;
            </li>

            <li>
                •	to prosecute or bring any legal action against any user who has violated any law or our Terms of Use.
            </li>
        </ul>

        <p>
            (III) For any other reason that may be necessary for the operation of our Application.
        </p>

        <h2>LINKS TO THIRD PARTY /SERVICES</h2>

        <p>
            The website may contain links to other which we believe may offer useful information. This linked are not under our control and this Privacy Policy does not apply to these. We suggest that You contact those directly for information on their privacy policy, security, data collection and distribution policies.
        </p>

        <h2>ACCESSING, MODIFYING AND DELETING YOUR PERSONAL DATA</h2>

        <p>
            If you wish to access, review, modify any information we have about You, You may do so by simply contacting us on the following email address: sales@victorpit.com. You may also request that we delete any information belonging to You that we have stored.
        </p>

        <h2>YOUR RIGHTS</h2>

        <p>Your rights in relation to Your Personal Data are as follows:</p>

        <p>
            (I) the right to have access to Your Personal Data;
        </p>

        <p>
            (II) the right to be informed about the processing of Your Personal Data;
        </p>

        <p>
            (III) the right to rectify any inaccurate Personal Data or any information about You;
        </p>

        <p>
            (IV) the right to review, modify or erase Your Personal Data and any other information we have about You;
        </p>

        <p>
            (V) the right to restrict the processing of Your Personal Data;
        </p>

        <p>
            (VI) the right to block Personal Data processing in violation of any law;
        </p>

        <p>
            (VII) the right to be informed about any rectification or erasure of Personal Data or restriction of any processing carried out;
        </p>

        <p>
            (VIII) the right to the portability of Your Personal Data; and
        </p>

        <p>
            (IX) the right to lodge a complaint to a supervisory authority within Nigeria.
        </p>

        <h2>CONTACT INFORMATION</h2>

        <p>
            If You have any questions regarding this Privacy Policy or the Personal Data we collect, or if You wish to make any comments or complaints about anything related to this Privacy Policy, please contact us at the following email address: sales@victorpit.com.
        </p>

        <h2>
            REVISIONS AND MODIFICATIONS
        </h2>

        <p>
            We reserve the right to modify and revise this Privacy Policy from time to time without Your explicit consent. If we make any fundamental change, we will notify You and obtain Your consent to the revised version.
        </p>
    </div> 
</div>
