<section fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <header>
        <div class="head">Have Questions? Then look below.</div>
        <div class="body">If you can't find answers here then mail us at <a href="mailto:info@tinotune.com">info@tinotune.com</a> </div>
    </header>

    <aside fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
        <mat-accordion>

            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    WHAT IS TINOTUNE?
                </mat-panel-title>
                <!-- <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <p>
                Tinotune is an online initiative that aim is to eliminate the cost associated with promoting the songs of upcoming artistes. Tinotune works with top music artistes from Nigeria. 
              </p>
              <p>
                Their role will be to listen to every song uploaded, make selection, and feature those behind the selected songs on the singles. 
                All the upcoming artistes are required to od is upload their songs on the website, each song uploaded will cost N500.              
               </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    HOW IT WORKS?
                </mat-panel-title>
              </mat-expansion-panel-header>
                <div>
                  <ul>
                      <li>Visit the website at www.tinotune.com</li>
                      <li>Click on upload song. Enter your name, email and password to have a profile with us</li>
                      <li>Upload your song (audio or video)</li>
                  </ul>
                </div>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW CAN I CLAIM MY PRIZE IF I WIN?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Winners will be called by Mr P on their registered phone number after the raffle draw (and then by video-call too).
                </p>
            </mat-expansion-panel> -->

            <!-- <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW MANY CATEGORIES CAN I PLAY?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div>
                    <ul>
                        <li>You can play any or all categories from the website, MTN, Airtel and 9Mobile.</li>
                        <li>On MTN, 9mobile or an Airtel line, you can subscribe to each category only once.</li>
                    </ul>
                  </div>
            </mat-expansion-panel> -->

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    CAN I UPLOAD SONG WITH MY PHONE?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Yes. The website is designed to adapt to screen size to enable you use any device.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW MANY TIMES CAN I UPLOAD MY SONG?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>There are no restriction on number of songs to upload. You can upload as much as you wish to promote</p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WHICH CURRENCY WILL I PAY WITH?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Your country of play. In Nigeria the payment are made in Naira.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WHAT COUNTRY CAN I PLAY FROM?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    You can play upload from any country.
                </p>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WILL I BE BILLED IF I ATTEMPT TO SUBSCRIBE TO A SERVICE I HAVE SUBSCRIBED TO ALREADY?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div>
                      <ul>
                          <li>If you are already subscribed on MTN, 9mobile or Airtel, you will not be billed.</li>
                          <li>If you subscribed via web, it is possible to be debited for more tickets in the same category.</li>
                      </ul>                    
                  </div>
            </mat-expansion-panel> -->

            <!-- <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW DO I DEACTIVATE THE SERVICE WHEN SUBCRIBED?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <ul>
                        <li>If you subscribed via web, you could deactivate your subscription from your Zoomlifestyle account</li>
                        <li>Send your email address and phone number via our social media pages @zoomupyourlife on Instagram, Facebook and Twitter.</li>
                        <li>Send an email to hello@zoomlifestyle.com</li>
                        <li>If you played with an MTN, 9mobile or an Airtel line, Send STOP to 20010</li>
                    </ul>                    
                </div>
            </mat-expansion-panel> -->

            <!-- <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    IS THE LOTTERY AVAILABLE TO PREPAID OR POSTPAID?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    All mobile numbers
                </p>
            </mat-expansion-panel> -->

            <!-- <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    I HAVE A BASIC HANDSET CAN I ACCESS THE LOTTERY?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Yes
                </p>
            </mat-expansion-panel> -->

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW DO I GET HELP?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div>
                      <ul>
                          <li>You can send a mail to <a href="mailto:info@tinotune.com">info@tinotune.com </a></li>
                          <!-- <li>Send a Direct Message to @zoomupyourlife on Instagram, Facebook and Twitter</li> -->
                      </ul>
                  </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WHAT IS THE COST OF SONG UPLOAD?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <ul>
                        <li>Each song upload cost #500 naira only</li>
                        <!-- <li>Using an MTN, 9mobile or an Airtel line, the tickets cost #100 naira/week for 5weeks or #20 naira/day for 25days</li> -->
                    </ul>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    IS THERE ANY ELSE REQUIRED FROM ME AFTER I UPLOAD MY SONG?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                   No. Each song uploaded have equal chances of been selected by the artistes. Selections are at the discretion of the artistes.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WHEN SHOULD I UPLOAD MY SONG?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Songs can be upload anytime. Compilation of uploaded songs are done quarterly and sent to the artistes for selection
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW DO I UPLOAD MY SONG?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    You can upload your song by visiting http://tinotune.com/upload after you create your profile
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WOULD I BE ABLE TO UPLOAD MY CONTENT IF I AM NOT SIGNED UP?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    No
                </p>
            </mat-expansion-panel>

          </mat-accordion>
    </aside>
</section>