<section fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <header>
        <div class="head">Have Questions? Then look below.</div>
        <div class="body">If you can't find answers here then mail us at <a href="mailto:info@splaxh.com">info@splaxh.com</a> </div>
    </header>

    <aside fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
        <mat-accordion>

            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    WHAT IS SPLAXH LOTTERY?
                </mat-panel-title>
                <!-- <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <p>
                Zoom is an entertainment life-style lottery that offers subscribers the chance to win millions of naira in cash and prizes that cut across shooting a music video, concert tickets, back-stage passes, sport and business mentorship and more
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    HOW IT WORKS?
                </mat-panel-title>
              </mat-expansion-panel-header>
                <div>
                  <ul>
                      <li>Using an MTN line, dial *20010#</li>
                      <li>Using a 9mobile or an Airtel line, send MUSIC, DANCE, SPORTS OR BUSINESS to 20010</li>
                      <li>Visit www.zoomlifestyle.com/play then click on pay with ATM card or pay via USSD. If you select pay with USSD, you will see a list of banks that you can choose from.</li>
                  </ul>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW CAN I CLAIM MY PRIZE IF I WIN?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Winners will be called by Mr P on their registered phone number after the raffle draw (and then by video-call too).
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW MANY CATEGORIES CAN I PLAY?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div>
                    <ul>
                        <li>You can play any or all categories from the website, MTN, Airtel and 9Mobile.</li>
                        <li>On MTN, 9mobile or an Airtel line, you can subscribe to each category only once.</li>
                    </ul>
                  </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    DO I NEED TO CONFIGURE MY PHONE?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    No as long you have a phone number and basic handset you can play
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW MANY TIMES CAN I SUBCRIBE TO A CATEGORY?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div>
                    <ul>
                        <li>If playing via WEB, you can subscribe as many times as you want to any or all categories.</li>
                        <li>If you are playing with an MTN, 9mobile or an Airtel line, you can subscribe to a category only once.</li>
                    </ul>
                  </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WHICH CURRENCY WILL I RECEIVE MY WINNING?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Your country of play. In Nigeria the winnings are paid in Naira.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WHAT COUNTRY CAN I PLAY FROM?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    You can play Zoom from any country.
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WILL I BE BILLED IF I ATTEMPT TO SUBSCRIBE TO A SERVICE I HAVE SUBSCRIBED TO ALREADY?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div>
                      <ul>
                          <li>If you are already subscribed on MTN, 9mobile or Airtel, you will not be billed.</li>
                          <li>If you subscribed via web, it is possible to be debited for more tickets in the same category.</li>
                      </ul>                    
                  </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW DO I DEACTIVATE THE SERVICE WHEN SUBCRIBED?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <ul>
                        <li>If you subscribed via web, you could deactivate your subscription from your Zoomlifestyle account</li>
                        <li>Send your email address and phone number via our social media pages @zoomupyourlife on Instagram, Facebook and Twitter.</li>
                        <li>Send an email to hello@zoomlifestyle.com</li>
                        <li>If you played with an MTN, 9mobile or an Airtel line, Send STOP to 20010</li>
                    </ul>                    
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    IS THE LOTTERY AVAILABLE TO PREPAID OR POSTPAID?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    All mobile numbers
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    I HAVE A BASIC HANDSET CAN I ACCESS THE LOTTERY?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Yes
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW DO I GET HELP?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <div>
                      <ul>
                          <li>You can send a mail to <a href="mailto:info@splaxh.com">info@splaxh.com </a></li>
                          <li>Send a Direct Message to @zoomupyourlife on Instagram, Facebook and Twitter</li>
                      </ul>
                  </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WHAT IS THE COST?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <ul>
                        <li>The tickets cost #500 naira on www.zoomlifestyle.com</li>
                        <li>Using an MTN, 9mobile or an Airtel line, the tickets cost #100 naira/week for 5weeks or #20 naira/day for 25days</li>
                    </ul>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    IS THERE A TAX REQUIREMENT ON MY WINNING?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                   No 
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WHEN SHOULD I SUBSCRIBE?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    Daily or Weekly
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    HOW DO I UPLOAD MY CONTENT?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    You can upload your content by visiting https://splaxh.com/upload after you subscribe
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    WOULD I BE ABLE TO UPLOAD MY CONTENT IF I AM NOT SUBSCRIBED?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                  <p>
                    No
                </p>
            </mat-expansion-panel>

          </mat-accordion>
    </aside>
</section>