section {
    margin-top: 4rem;
    header {
        height: auto;
        background-color: whitesmoke;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        //margin-bottom: 3rem;
        .head {
            font-weight: bold;
            font-size: 1.1rem;
            padding-top: 1rem;
        }
        .body {
            font-family: monospace;
            margin-top: 12px;
        }
    }
    aside {
        width: 100%;
        margin: 2rem 0;
        mat-accordion {
            width: 50rem;
            mat-expansion-panel {
                mat-expansion-panel-header {
                    mat-panel-title {
                        font-weight: bold;
                    }
                }
            }
        }
    }
   
}