header {
    height: 6rem;
    color: #f1f1f1;
    position: fixed;
    bottom: 70px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    div {
        font-family: "Courier";
        font-size: 20px;
    }
}


.blink {
    border-right-style: solid;
    opacity: 0;
    animation: blinking 1s linear infinite;
}

@keyframes blinking {
    from,
    49.9% {
      opacity: 0;
    }
    50%,
    to {
      opacity: 1;
    }
}