footer {
    height: auto;
    padding: 1rem 0;
    //background-color: #283593;
    //border-top: 1px solid rgb(92, 91, 91);
    background: rgba(0, 0, 0, 0.5);
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    .copyright {
        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
        }
        div {
            font-weight: 100;
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .socials {
        opacity: 0.6;
        button {
            width: 2.5rem;
            height: 2.5rem;
        }
        .facebook {
            background-color: #4267B2;
        }
        .youtube {
            background-color: #FF0000;
        }
        /* .instagram {
            background-color: #8a3ab9;
        } */
    }
    .socials:hover {
        opacity: 1;
    }
}